.card
	--bs-card-spacer-y: 2rem
	--bs-card-spacer-x: 2rem
	--bs-card-cap-padding-y: 1.5rem
	--bs-card-cap-padding-x: var(--bs-card-spacer-x)
	--bs-card-cap-bg: transparent
	--bs-card-bg: var(--bs-white)
	--bs-card-border-width: 0
	--bs-card-border-radius: var(--bs-border-radius-xl)
	min-height: 360px
	border: var(--bs-card-border-width) var(--bs-card-border-style) var(--bs-card-border-color)

	@media (max-width: 576px)
		--bs-card-spacer-y: 1.5rem
		--bs-card-spacer-x: 1rem
		--bs-card-cap-padding-y: 1rem

	&:not(.card-mini, .card-add, .card-category, .card-article, .card-video)

		@media (max-width: 576px)
			min-height: 300px

	&:not(:last-child)
		margin-bottom: 1.5rem

		@media (max-width: 576px)
			margin-bottom: .75rem

	&-header
		font-size: 1.25rem
		font-weight: 500
		line-height: 1
		color: var(--bs-heading-color)

	&-title
		display: flex
		flex-wrap: wrap
		align-items: center
		justify-content: center
		row-gap: 1rem
		margin-bottom: 2rem

		@media (max-width: 576px)
			margin-bottom: 1.5rem

	&-text
		max-width: 600px
		color: var(--bs-gray-800)
		line-height: 1.25rem
		margin-bottom: 1.5rem

		@media (max-width: 576px)
			margin-bottom: 1rem

	&-balance
		font-size: 3rem
		margin-bottom: 0

	&-body
		padding: 0 var(--bs-card-spacer-x) var(--bs-card-spacer-y)

		& ~ &
			margin-top: calc( (var(--bs-card-spacer-y) - 1.5rem) * -1 )

	&-info
		margin-bottom: 2rem

		&-item

			&:not(:last-child)
				margin-bottom: 1rem
			
			h3
				font-size: 1rem
				font-weight: 400
				line-height: 1.25rem
				color: var(--bs-gray-800)
				margin-bottom: .25rem

			span
				font-size: 1.5rem
				font-weight: 500
				line-height: 1.75rem
				color: var(--bs-black)

	&-buttons
		display: flex
		flex-direction: column
		align-items: center

		&>.btn

			&:not(:first-child)
				margin-top: .75rem

		.btn-outline-primary,
		.btn-secondary,
		.btn-primary

			@media (max-width: 576px)
				width: 100%

.card-image-bg
	background-repeat: no-repeat
	background-position: center 100%
	background-size: cover

.card-bigger
	min-height: initial

	&:not(.card-form)
		@media (max-width: 576px)
			--bs-card-cap-padding-x: 1rem
			--bs-card-spacer-x: .5rem

.card-mini,
.card-add
	min-height: 160px

.card-mini
	--bs-card-spacer-y: 1.5rem
	--bs-card-spacer-x: 1.5rem
	--bs-card-cap-padding-y: 1rem
	--bs-card-cap-padding-x: 1.5rem
	--bs-card-bg: #8EC5FE
	--bs-card-border-width: 1px
	--bs-card-border-color: var(--bs-border-color)

	height: 100%
	background-repeat: no-repeat
	background-position: calc( 100% + 4.75rem ) 0%
	background-size: 230px
	transition: background .3s ease-in-out

	@media (max-width: 576px)
		background-position: calc( 100% + 5.5rem ) 0%
		background-size: 220px


	&:not(&--bank)
		&:is(:hover, :focus-visible)
			--bs-card-bg: var(--bs-primary-light)
			outline: none

		&:active
			--bs-card-bg: var(--bs-primary-dark)

	&:not(&--bank)

		.card-header,
		.card-body
			width: 68%

			@media (max-width: 576px)
				width: 100%
				max-width: 320px

	.card-header
		border: 0

		.icon
			--i-color: var(--bs-black)
			display: inline-block
			vertical-align: middle

	.card-body
		display: flex
		flex-direction: column
		justify-content: flex-end

	.card-info
		margin-bottom: 0

		&-text
			font-size: 2.25rem
			line-height: 2.5rem
			color: var(--bs-white)
			margin-bottom: 0

.card-mini--bank
	--bs-card-cap-padding-y: 1.5rem

	@media (max-width: 576px)
		--bs-card-spacer-y: 1rem
		--bs-card-cap-padding-x: 1rem

	
	.card-header
		font-size: 1.5rem
		line-height: 1.75rem
		padding-bottom: 1rem

	.card-body
		display: flex
		flex-direction: row
		align-items: flex-end
		justify-content: space-between

.card-add
	--bs-card-spacer-y: .625rem
	--bs-card-spacer-x: .625rem
	--bs-card-border-width: 1px
	--bs-card-border-style: dashed
	--bs-card-border-color: var(--bs-primary)
	width: 100%
	align-items: stretch
	padding: 0
	outline: none
	transition: background .3s ease-in-out, border .3s ease-in-out

	&:is(:hover, :focus-visible)
		--bs-card-bg: var(--bs-primary-light)
		--bs-card-border-style: solid
		--bs-card-border-color: var(--bs-primary-light)

		.card-add-text
			color: var(--bs-black)

			.icon
				--i-color: inherit

	&:active
		--bs-card-bg: var(--bs-primary-dark)
		--bs-card-border-style: solid
		--bs-card-border-color: var(--bs-primary-dark)

		.card-add-text
			color: var(--bs-black)

			.icon
				--i-color: inherit

	.card-body
		display: flex
		align-items: center
		justify-content: center
		padding: var(--bs-card-spacer-y) var(--bs-card-spacer-x)

	&-text
		display: flex
		align-items: center
		font-size: 1.25rem
		font-weight: 500
		line-height: 1.375rem
		color: var(--bs-primary)
		transition: color .3s ease-in-out

		.icon
			margin-right: .75rem

.card-form

	.card-title
		justify-content: flex-start
		margin-bottom: 1.5rem

		&>*
			margin-bottom: 0

		.h1
			@media (max-width: 576px)
				font-size: 2.25rem
				line-height: 2.5rem


	&-inputs
		display: flex
		align-items: flex-start
		margin-bottom: 1.5rem

		@media (max-width: 992px)
			flex-direction: column

		.has-validation,
		.form-floating
			width: 100%

			&-xs,
			&-sm,
			&-md
				@media (max-width: 992px)
					width: 100%
					max-width: initial

			&-xs
				max-width: 160px

			&-sm
				max-width: 200px

			&-md
				max-width: 260px

		.card-button
			@media (max-width: 576px)
				width: 100%

	.tab-pane .card-body,
	.card-body

		& > *:not(.card-img)
			@media (max-width: 1200px)
				max-width: 100%

	.tab-pane

		.card-body

			& > *:not(.card-img)
				max-width: 500px

	.card-body

		& > *:not(.card-img, .card-form-promocode)
			max-width: 616px

	.card-img
		width: 760px
		object-fit: contain
		position: absolute
		bottom: -180px
		right: -450px

		@media (max-width: 1400px)
			right: -520px
			bottom: -220px

		@media (max-width: 1200px)
			right: -560px

.card-promocode
	--bs-card-cap-padding-y: 2.5rem
	--bs-card-spacer-y: 2.5rem


.card-skipass
	--bs-card-spacer-y: 1rem
	--bs-card-spacer-x: 1.5rem
	--bs-card-cap-padding-y: var(--bs-card-spacer-y)
	--bs-card-cap-bg: #8EC5FE
	--bs-card-border-width: 1px
	--bs-card-border-color: var(--bs-border-color)

	min-height: initial

	@media (max-width: 576px)
		--bs-card-spacer-y: 1rem
		--bs-card-spacer-x: 1.5rem

	.card-header
		min-height: 160px
		display: flex
		flex-direction: column
		justify-content: space-between

		border: var(--bs-card-border-width) solid var(--bs-card-border-color)
		border-bottom: 0
		border-top-left-radius: inherit
		border-top-right-radius: inherit

		background-repeat: no-repeat
		background-size: 260px
		background-position: calc( 100% + 4.5rem ) 20%

		@media (max-width: 576px)
			background-position: calc(100% + 4.75rem) 0%
			background-size: 210px

		& > * 
			width: 66%

			@media (max-width: 1400px)
				width: 70%

			@media (max-width: 992px)
				width: 75%

			@media (max-width: 768px)
				width: 64%

			@media (max-width: 576px)
				width: 100%
				max-width: 280px

	.card-title
		display: block
		font-size: var(--bs-font-size-md)
		font-weight: var(--bs-font-weight-medium)
		line-height: normal
		margin-bottom: 1rem

		& > .icon
			--i-color: var(--bs-heading-color)
			display: inline-block
			vertical-align: middle

	.card-subtitle
		font-weight: var(--bs-font-weight)
		color: var(--bs-white)
		line-height: 1.625rem

	.card-status
		display: flex
		align-items: center
		margin-bottom: .25rem

		&.is-success

			.icon 
				--i-color: #ABFF21

		&.is-danger

			.icon 
				--i-color: var(--bs-danger)

	.card-body
		border: var(--bs-card-border-width) solid var(--bs-card-border-color)
		border-bottom-left-radius: inherit
		border-bottom-right-radius: inherit
		padding: var(--bs-card-spacer-y) var(--bs-card-spacer-x) calc( var(--bs-card-spacer-y) * 2 )

		@media (max-width: 576px)
			padding: var(--bs-card-spacer-y) 1rem 1.25rem var(--bs-card-spacer-x)

		.btn
			@media (max-width: 576px)
				margin-top: 1.5rem
				margin-left: -.5rem

	.card-text
		max-width: 100%
		display: flex
		align-items: flex-end
		justify-content: space-between
		font-size: var(--bs-font-size-md)
		margin-bottom: 1rem

		@media (max-width: 576px)
			flex-direction: column
			align-items: stretch

		&-left
			max-width: 200px
			line-height: 1.625rem

			@media (max-width: 576px)
				font-size: var(--bs-font-size)
				line-height: normal
				margin-bottom: .5rem

		&-right
			max-width: 160px
			font-size: 2.25rem
			font-weight: var(--bs-font-weight-medium)
			line-height: 2.375rem
			color: var(--bs-black)
			text-align: right

		& > *
			@media (max-width: 576px)
				max-width: initial
				text-align: left

	.btn
		display: block

.card-skipass--full
	background-color: transparent

	@media (max-width: 576px)
		--bs-card-spacer-y: .75rem

	.card-header
		border: var(--bs-card-border-width) solid var(--bs-card-border-color)
		background-position: 100% 20%

		& > *
			width: 85%

			@media (max-width: 1200px)
				width: 75%

		&.mb-2
			@media (max-width: 576px)
				margin-bottom: .25rem !important

	.card-title
		font-size: 3rem
		line-height: 3.125rem

		@media (max-width: 576px)
			font-size: calc( var(--bs-font-size-lg) - .125rem )
			line-height: 1.75rem

		.btn-icon
			--bs-btn-padding-x: .375rem
			--bs-btn-padding-y: .375rem
			--bs-btn-border-radius: 50%

			display: inline-block
			vertical-align: middle

			.icon
				--i-size: 1.5rem

				@media (max-width: 576px)
					--i-size: 1rem

	.card-body-wrapper

		@media (max-width: 576px)
			--bs-gutter-y: .25rem

		& > *

			&:first-child
					
					.card-body
						border-radius: calc( var(--bs-card-border-radius) / 5 ) calc( var(--bs-card-border-radius) / 5 ) calc( var(--bs-card-border-radius) / 5 ) var(--bs-card-border-radius)

						@media (max-width: 992px)
							border-radius: calc( var(--bs-card-border-radius) / 5 )

			&:last-child
				
				.card-body
					border-radius: calc( var(--bs-card-border-radius) / 5 ) calc( var(--bs-card-border-radius) / 5 ) var(--bs-card-border-radius) calc( var(--bs-card-border-radius) / 5 )

					@media (max-width: 992px)
						border-radius: calc( var(--bs-card-border-radius) / 5 ) calc( var(--bs-card-border-radius) / 5 ) var(--bs-card-border-radius) var(--bs-card-border-radius)

	.card-body
		height: 100%
		background-color: var(--bs-card-bg)

		@media (max-width: 576px)
			padding: var(--bs-card-spacer-y) var(--bs-card-spacer-x) calc( var(--bs-card-spacer-y) * 2 ) var(--bs-card-spacer-x)

	.card-text
		flex-direction: column
		align-items: stretch
		font-size: calc( var(--bs-font-size-lg) - .125rem )
		font-weight: var(--bs-font-weight-medium)
		color: var(--bs-heading-color)
		margin-bottom: 0

		& > *
			max-width: initial
			text-align: left

		&-left
			margin-bottom: 1.25rem

			@media (max-width: 576px)
				font-size: var(--bs-font-size-md)
				font-weight: var(--bs-font-weight-medium)
				line-height: 1.375rem
				color: var(--bs-gray-800)


		&-right
			display: flex
			flex-wrap: wrap
			align-items: center

		.btn
			--bs-btn-padding-x: 1.5rem

			min-width: 160px

			@media (max-width: 1400px)
				width: 100%

.card-list
	--bs-card-cap-padding-y: 2rem
	--bs-card-color: var(--bs-black)
	min-height: 470px
	font-size: var(--bs-font-size-md)
	position: relative

	@media (max-width: 992px)
		min-height: initial

	.card-header
		min-height: 150px

		@media (max-width: 992px)
			min-height: initial

		& > p
			max-width: 160px
			margin-left: auto
			margin-bottom: 0

			@media (max-width: 992px)
				min-height: initial

	.card-img
		width: 290px
		display: block
		object-fit: contain
		position: absolute
		top: -270px
		left: -32px

	.card-title
		color: var(--bs-heading-color)
		margin-bottom: 1.5rem

	.card-text
		color: var(--bs-card-color)

.card-list--promocode

	.card-header

		p
			max-width: initial
			margin: initial initial 1rem initial

	.card-img
		width: 100%
		position: static
		top: initial
		left: initial


.card-category
	--bs-card-border-width: 1px
	--bs-card-border-style: solid
	--bs-card-border-color: #D9D9D9

	--bs-card-cap-padding-x: var(--bs-card-cap-padding-y)

	min-height: auto
	aspect-ratio: 1 / 1
	background-repeat: no-repeat
	background-size: contain
	background-position: 100% 100%

	@media (max-width: 992px)
		--bs-card-cap-padding-y: 1rem


	&:is(:hover, :focus-visible, :active, .active)
		--bs-card-bg: #8EC5FE
		--bs-card-border-color: #8EC5FE

		.card-header
			color: var(--bs-secondary)

	.card-header
		font-size: 2rem
		color: var(--bs-heading-color)
		border: 0
		transition: color 300ms ease-in-out

		@media (max-width: 992px)
			font-size: 1rem

.card-article
	--bs-card-spacer-y: 1rem
	--bs-card-spacer-x: 1.5rem
	--bs-card-inner-border-radius: var(--bs-card-border-radius)

	width: 20rem
	height: 100%
	min-height: 400px
	box-shadow: 0 -.25rem 3rem 0 rgba(3, 101, 178, .15)

	.card-body
		padding: var(--bs-card-spacer-y) var(--bs-card-spacer-x)

	.card-img-top
		height: auto
		min-height: 12.5rem
		object-fit: cover

	.card-time,
	.card-title
		display: block
		color: var(--bs-heading-color)

	.card-time
		font-size: 1.5rem
		font-weight: 500
		line-height: normal
		margin-bottom: .5rem

	.card-title
		font-size: 1.25rem
		margin: 0
		transition: color 300ms ease-in-out

		.icon
			--i-color: var(--bs-heading-color)

			display: inline-block
			vertical-align: middle

	&:is(:hover, :focus-visible, :active, .active)
		--bs-card-bg: #8EC5FE
		--bs-card-border-color: #8EC5FE

		.card-title
			color: var(--bs-secondary)

.card-video
	min-height: 100%

	@media (max-width: 992px)
		--bs-card-spacer-y: .75rem
		--bs-card-spacer-x: 1.5rem

	.card-body
		padding-top: var(--bs-card-spacer-y)

	.card-title
		flex-wrap: nowrap
		justify-content: stretch
		gap: 1.25rem
		font-size: 1.5rem
		margin-bottom: .5rem

		@media (max-width: 992px)
			font-size: 1.25rem
			gap: .5rem

		.icon
			--i-size: 3rem
			--i-color: var(--bs-secondary)

			position: relative

			&::after
				content: attr(data-current)
				display: block
				font-size: 1.25rem
				font-weight: 500
				line-height: 1
				color: var(--bs-white)
				pointer-events: none
				user-select: none
				position: absolute
				top: 50%
				left: calc( 50% - .4375rem )
				transform: translate(-50%, -50%)

	.card-iframe
		width: calc( 100% + var(--bs-card-spacer-x) )
		display: block
		aspect-ratio: 16 / 9
		background-color: var(--bs-gray-700)
		margin: 0 calc( var(--bs-card-spacer-x) / 2 * -1 ) calc( var(--bs-card-spacer-y) / 2 * -1 )
		border-radius: .75rem

		@media (max-width: 992px)
			width: calc( 100% + 2rem )
			margin: 0 calc( ( var(--bs-card-spacer-x) - .5rem ) * -1 ) calc( ( var(--bs-card-spacer-y) - .5rem ) * -1 )








