.navbar

	&-brand
		display: flex
		align-items: center
		justify-content: center

		&-text
			font-size: 1.25rem
			font-weight: 500
			line-height: 1.375rem
			margin-left: 1rem

	&-collapse
		justify-content: flex-end

	&-toggler
		background-color: var(--bs-white)

		&:focus
			box-shadow: none

		&:focus-visible
			box-shadow: 0 0 0 var(--bs-navbar-toggler-focus-width)

		&-icon
			width: 1.5rem
			height: 1.5rem

	.nav-item

		&:not(:first-child)
			margin: initial

		&:not(:last-child)
			margin: initial
			margin-bottom: var(--bs-navbar-nav-item-margin-y)

	
	.nav-link
		display: flex
		align-items: center
		padding-left: .5rem
		line-height: 1.375rem

		&.disabled

			.icon
				--i-color: var(--bs-nav-link-disabled-color)

		&.active

			.icon
				--i-color: var(--bs-navbar-active-color)

		&:is(:hover, :focus)

			.icon
				--i-color: var(--bs-nav-link-hover-color)

		.icon
				display: block
				margin-right: 1rem

	&-footer
		margin-top: auto
		color: var(--bs-gray-600)

		&>a
			display: block

	&.signin

		.navbar-brand-text
			font-size: 2.25rem
			font-weight: var(--bs-font-weight-medium)
			line-height: 2.375rem
			color: var(--bs-heading-color)

.offcanvas
	border-radius: var(--bs-border-radius-xl) 0 0 var(--bs-border-radius-xl)
	padding: 1.5rem 1rem 2rem 2rem
	box-shadow: var(--bs-box-shadow-lg)

	&-header
		margin-bottom: 2rem

	.btn-close
		background-color: var(--bs-white)
		border-radius: 50%
		margin-left: auto
		padding: .5rem