.list-group
	--bs-list-group-bg: var(--bs-white)
	--bs-list-group-border-width: 0

	&-item-action
		color: var(--bs-list-group-action-color)

.list-group-disc
	--bs-list-group-color: inherit
	--bs-list-group-border-width: 0
	--bs-list-group-border-color: transparent
	--bs-list-group-border-radius: 0
	--bs-list-group-item-padding-x: 0
	--bs-list-group-bg: transparent

	.list-group-item
		display: flex

		&::before
			content: ''
			width: .25rem
			height: 0.25rem
			flex-shrink: 0
			display: block
			background-color: currentColor
			margin-top: .625em
			margin-inline: .75rem
			border-radius: 50%



.list-group-flush
	--bs-list-group-item-padding-y: 0
	--bs-list-group-item-padding-x: .25rem
	--bs-list-group-color: var(--bs-black)
	font-size: var(--bs-font-size-md)
	line-height: 1.625rem

.list-group-radio
	--bs-list-group-item-padding-y: 1rem
	--bs-list-group-item-padding-x: 1rem
	--bs-list-group-bg: var(--bs-gray-100)
	--bs-list-group-border-radius: 1rem

	& > *:not(:last-child)
		margin-bottom: .5rem

	.list-group-item
		border-radius: var(--bs-list-group-border-radius)

.list-group-plaintext
	--bs-list-group-color: #37474F
	--bs-list-group-action-color: var(--bs-black)
	--bs-list-group-action-hover-color: var(--bs-secondary)
	--bs-list-group-action-active-color: var(--bs-secondary)
	--bs-list-group-bg: transparent
	--bs-list-group-action-hover-bg: transparent
	--bs-list-group-action-active-bg: transparent
	--bs-list-group-border-color: transparent

	--bs-list-group-item-padding-y: .25rem
	--bs-list-group-item-padding-x: 0
	
	font-size: 1.125rem
	line-height: normal

	.list-group-item
		margin: 0

		&-title
			font-size: 1.25rem
			line-height: inherit
			color: var(--bs-list-group-color)
			margin-bottom: .25rem
			padding-block: 0

.list-group-social
	
	.list-group-item

		&-title
			margin-bottom: 1rem

	.navbar-nav
		--bs-nav-link-padding-y: 0

		flex-direction: row
		gap: 1rem

		.nav-link
			
			.icon
				--i-size: 3rem
				--i-color: currentColor

.list-group-address

	@media (max-width: 991.98px)
		font-size: 1rem

	.list-group-item

		&-title
			display: flex
			align-items: center
			gap: .5rem

.list-group-contacts

	@media (max-width: 991.98px)
		font-size: 1.5rem
		font-weight: 500

.list-group-docs
	--bs-list-group-action-color: var(--bs-primary)
	--bs-list-group-action-hover-color: var(--bs-blue-light)
	--bs-list-group-action-active-color: var(--bs-blue-light)
	--bs-list-group-action-hover-bg: #A5D1FE
	--bs-list-group-action-active-bg: #A5D1FE
	--bs-list-group-border-radius: var(--bs-border-radius-xl)
	--bs-list-group-item-padding-y: 1.25rem
	--bs-list-group-item-padding-x: 1rem

	gap: .5rem

	@media (min-width: 992px)
		--bs-list-group-item-padding-x: 6.25rem

		font-size: 1.25rem

	.list-group-item
		display: flex
		align-items: center
		gap: .5rem
		border-radius: inherit

		.icon
			--i-color: currentColor
			
			transition: unset

		&-value
			color: var(--bs-gray-500)

.list-group-schedule
	--bs-list-group-color: var(--bs-black)
	--bs-list-group-action-color: var(--bs-black)
	--bs-list-group-border-width: 2px
	--bs-list-group-border-color: var(--bs-blue-200)
	--bs-list-group-border-radius: 0
	--bs-list-group-item-padding-y: 2rem
	--bs-list-group-item-padding-x: 4rem

	line-height: normal

	@media (max-width: 992px)
		--bs-list-group-item-padding-y: 1rem
		--bs-list-group-item-padding-x: .5rem

	.list-group-item
		border-top: var(--bs-list-group-border-width) solid var(--bs-list-group-border-color)
		border-left: 0
		border-right: 0
		border-bottom: 0
		margin-inline: -4rem -1.5rem
		padding-right: 1.5rem

		gap: 5rem

		@media (max-width: 1400px)
			gap: 2rem

		@media (max-width: 1200px)
			flex-direction: column

		@media (max-width: 992px)
			margin-inline: -.5rem
			padding-right: var(--bs-list-group-item-padding-x)

		@media (max-width: 576px)
			gap: 1.25rem

		&,
		&-detail-item,
		&-info-item
			display: flex
			justify-content: space-between

		&-time,
		&-name,
		&-info-time
			flex-shrink: 0
			font-weight: 500

		&-time
			width: 15.625rem
			font-size: 2.25rem

			@media (max-width: 1200px)
				width: 100%

			@media (max-width: 992px)
				font-size: 1.5rem

		&-detail,
		&-info,
		&-info-placement
			flex: 1

		&-detail,
		&-info
			display: flex
			flex-direction: column

		&-detail

			@media (min-width: 1200px)
				align-self: center

			&,
			&-item
				gap: 2rem

				@media (max-width: 992px)
					gap: 1.25rem

			&-item

				@media (max-width: 992px)
					gap: 1.5rem

				@media (max-width: 576px)
					flex-direction: column
					gap: .5rem

				&--сompetition
					.list-group-item-info-placement-item
						--_color: var(--bs-white)
						--_bg: var(--bs-secondary)

				&--training
					.list-group-item-info-placement-item
						--_bg: var(--bs-warning)

				&--closed
					color: var(--bs-secondary)

		&-name
			width: 12.5rem
			font-size: 1.5rem

			@media (max-width: 992px)
				width: 7.5rem
				font-size: 1rem

			@media (max-width: 576px)
				width: 100%
				line-height: 1.25
				opacity: 0.8

		&-info
			gap: 1rem

			&-item
				gap: 4rem

				@media (max-width: 1400px)
					gap: 2rem

				@media (max-width: 992px)
					gap: 1.5rem

			&-time
				width: 10rem
				font-size: 1.5rem

				@media (max-width: 992px)
					width: 8rem
					font-size: 1.25rem

			&-placement
				display: flex
				align-items: flex-start
				flex-wrap: wrap
				gap: .5rem

				@media (max-width: 992px)
					gap: .25rem

				&-item
					--_size: 2.25rem
					--_color: var(--bs-black)
					--_bg: #A5D1FE

					min-width: var(--_size)
					min-height: var(--_size)
					display: flex
					align-items: center
					justify-content: center
					font-size: 1.25rem
					font-weight: 500
					line-height: 1
					text-transform: uppercase
					color: var(--_color)
					background-color: var(--_bg)
					border-radius: var(--bs-border-radius-xl)
					padding: .5rem .75rem

					@media (max-width: 992px)
						--_size: 2rem
						
						font-size: 1rem
						padding: .25rem .625rem

.list-group-date
	--bs-list-group-color: var(--bs-black)

	font-size: 1.5rem
	font-weight: 500

	@media (max-width: 992px)
		font-size: 1rem

	.list-group-item
		display: flex
		align-items: center
		gap: 1rem

		@media (max-width: 992px)
			gap: .5rem

		.icon
			--i-size: 2.25rem
			--i-color: var(--bs-secondary)

			@media (max-width: 992px)
				--i-size: 1.5rem

.list-group-product
	--bs-list-group-color: var(--bs-black)

	font-size: 1.25rem

	@media (max-width: 992px)
		font-size: 1rem










