.list-group
	--bs-list-group-bg: var(--bs-white)

.list-group-flush
	--bs-list-group-item-padding-y: 0
	--bs-list-group-item-padding-x: .25rem
	--bs-list-group-border-width: 0
	--bs-list-group-color: var(--bs-black)
	font-size: var(--bs-font-size-md)
	line-height: 1.625rem