.photos

	&-articles

		&-title
			margin-bottom: 1.5rem

			@media (max-width: 992px)
				font-size: 1.5rem
				margin-bottom: 1.25rem

		.card-article
			width: 100%

	&-choice

		&-content

			@media (max-width: 576px)
				background-color: var(--bs-white)
				margin-inline: -1rem
				border-radius: var(--bs-border-radius-xl)
				padding: 1rem

		.section-header
			margin-bottom: .75rem

			@media (max-width: 992px)
				margin-bottom: 1.25rem

		.section-title
			max-width: 1000px

			&.h2
				@media (max-width: 992px)
					font-size: 1.25rem

		&-container
			display: grid
			grid-template-columns: repeat(6, 1fr)
			gap: 2rem

			@media (max-width: 1200px)
				grid-template-columns: repeat(5, 1fr)
				gap: 1.5rem

			@media (max-width: 992px)
				grid-template-columns: repeat(4, 1fr)
				gap: 1rem

			@media (max-width: 768px)
				grid-template-columns: repeat(3, 1fr)

		&-item
			display: flex
			flex-direction: column-reverse
			gap: .625rem
			font-size: 1.125rem
			font-weight: 500
			line-height: normal
			color: var(--bs-gray-700)
			transition: color 300ms ease-in-out

			@media (max-width: 992px)
				font-size: 1rem

			&-label
				display: flex
				align-items: center

			&-picture
				width: 100%
				display: block
				position: relative
				cursor: pointer

				&::after
					content: ''
					width: 100%
					height: 100%
					display: block
					background-color: rgba(55, 71, 79, .5)
					background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 48 48' fill='%23fff' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M30.6866 6L34.9292 10.2428L26.586 18.586L29.414 21.414L37.7574 13.071L42 17.3138V6H30.6866ZM18.586 26.586L10.2426 34.929L6 30.6862V42H17.3134L13.0708 37.7572L21.414 29.414L18.586 26.586Z'/%3E%3C/svg%3E")
					background-size: 3rem
					background-position: center
					background-repeat: no-repeat
					border-radius: var(--bs-border-radius-xl)
					pointer-events: none
					user-select: none
					opacity: 0
					position: absolute
					top: 0
					left: 0
					transition: opacity 300ms ease-in-out

				@media (hover: hover)

					&:hover

						&::after
							opacity: 1

			&-image
				width: 100%
				height: auto
				display: block
				border: 1px solid transparent
				border-radius: var(--bs-border-radius-xl)
				aspect-ratio: 1 / 1
				object-fit: cover
				transition: border 300ms ease-in-out

			&.active
				color: var(--bs-black)

				.photos-choice-item-image
					border-color: var(--bs-blue-light)

	&-short
		width: 100%
		font-size: 1.5rem
		font-weight: 500
		color: var(--bs-white)
		background-color: #37474f
		padding-block: .75rem
		position: fixed
		bottom: 0
		left: 0
		z-index: var(--bs-zindex-fixed)

		@media (max-width: 992px)
			font-size: 1.25rem


		&-content
			display: flex
			align-items: center
			gap: 2rem

			@media (max-width: 992px)
				gap: 1rem

			p
				margin: 0
