.photos

	&-articles

		&-title
			margin-bottom: 1.5rem

			@media (max-width: 992px)
				font-size: 1.5rem
				margin-bottom: 1.25rem

		.card-article
			width: 100%

	&-choice

		&-content

			@media (max-width: 576px)
				background-color: var(--bs-white)
				margin-inline: -1rem
				border-radius: var(--bs-border-radius-xl)
				padding: 1rem

		.section-header
			margin-bottom: .75rem

			@media (max-width: 992px)
				margin-bottom: 1.25rem

		.section-title
			max-width: 1000px

			&.h2
				@media (max-width: 992px)
					font-size: 1.25rem

		&-container
			display: grid
			grid-template-columns: repeat(6, 1fr)
			gap: 2rem

			@media (max-width: 1200px)
				grid-template-columns: repeat(5, 1fr)
				gap: 1.5rem

			@media (max-width: 992px)
				grid-template-columns: repeat(4, 1fr)
				gap: 1rem

			@media (max-width: 768px)
				grid-template-columns: repeat(3, 1fr)

		&-item
			display: flex
			flex-direction: column-reverse
			gap: .625rem
			font-size: 1.125rem
			font-weight: 500
			line-height: normal
			color: var(--bs-gray-700)
			transition: color 300ms ease-in-out

			@media (max-width: 992px)
				font-size: 1rem

			&-label
				display: flex
				align-items: center

			&-picture
				width: 100%
				display: block

			&-image
				width: 100%
				height: auto
				display: block
				border: 1px solid transparent
				border-radius: var(--bs-border-radius-xl)
				aspect-ratio: 1 / 1
				object-fit: cover
				transition: border 300ms ease-in-out

			&.active
				color: var(--bs-black)

				.photos-choice-item-image
					border-color: var(--bs-blue-light)

	&-short
		width: 100%
		font-size: 1.5rem
		font-weight: 500
		color: var(--bs-white)
		background-color: #37474f
		padding-block: .75rem
		position: fixed
		bottom: 0
		left: 0
		z-index: var(--bs-zindex-fixed)

		@media (max-width: 992px)
			font-size: 1.25rem


		&-content
			display: flex
			align-items: center
			gap: 2rem

			@media (max-width: 992px)
				gap: 1rem

			p
				margin: 0
